<!-- <div class="container">

    <div class="row align-items-center">
        <div class="container-fluid col-12 px-1 child">
            <div class="justify-content-center card bg-dark col-md-6 col-sm-12"> -->
<div class="child">
    <div class="d-flex justify-content-center">

        <div class="card text-center " style="width: auto;">

            <div class="card-body">

                <form (ngSubmit)="addEditUser()">

                    <!-- Form Name -->
                    <legend style="text-align: center;" *ngIf="id===0">Add user</legend>
                    <legend style="text-align: center;" *ngIf="id!==0">Edit user</legend>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Username:</label>
                        <input type="text" class="form-control" name="UserName" class="col-md-6" [(ngModel)]="userDetail.UserName" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Password:</label>
                        <input type="text" class="form-control" name="Password" class="col-md-6" [(ngModel)]="userDetail.Password" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">First Name:</label>
                        <input type="text" class="form-control" name="FirstName" class="col-md-6" [(ngModel)]="userDetail.FirstName" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Middle Name:</label>
                        <input type="text" class="form-control" name="MiddleName" class="col-md-6" [(ngModel)]="userDetail.MiddleName" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Last Name:</label>
                        <input type="text" class="form-control" name="LastName" class="col-md-6" [(ngModel)]="userDetail.LastName" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Profile Picture:</label>
                        <input type="text" class="form-control" name="ProfilePicture" class="col-md-6" [(ngModel)]="userDetail.ProfilePicturePath" required>

                    </div>


                    <!-- gender -->
                    <!-- dob -->


                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Height:</label>
                        <input type="text" class="form-control" name="Height" class="col-md-6" [(ngModel)]="userDetail.Height" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Weight:</label>
                        <input type="text" class="form-control" name="Weight" class="col-md-6" [(ngModel)]="userDetail.Weight" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Education Qualfication:</label>
                        <input type="text" class="form-control" name="EducationQualification" class="col-md-6" [(ngModel)]="userDetail.HeightestEducationQualification" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">About you:</label>
                        <input type="text" class="form-control" name="AboutUser" class="col-md-6" [(ngModel)]="userDetail.AboutUser" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Hobbies:</label>
                        <input type="text" class="form-control" name="Hobbies" class="col-md-6" [(ngModel)]="userDetail.Hobbies" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Current Job:</label>
                        <input type="text" class="form-control" name="CurrentJobTitle" class="col-md-6" [(ngModel)]="userDetail.CurrentJobTitle" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Current Salary:</label>
                        <input type="text" class="form-control" name="CurrentSalary" class="col-md-6" [(ngModel)]="userDetail.CurrentSalary" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Total Experience:</label>
                        <input type="text" class="form-control" name="TotalExperience" class="col-md-6" [(ngModel)]="userDetail.TotalExperience" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Mobile No.:</label>
                        <input type="text" class="form-control" name="MobileNumber" class="col-md-6" [(ngModel)]="userDetail.MobileNumber" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Email ID:</label>
                        <input type="text" class="form-control" name="EmailAddress" class="col-md-6" [(ngModel)]="userDetail.EmailAddress" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Address:</label>
                        <input type="text" class="form-control" name="ResidentialAddress" class="col-md-6" [(ngModel)]="userDetail.ResidentialAddress" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">City:</label>
                        <input type="text" class="form-control" name="CityID" class="col-md-6" [(ngModel)]="userDetail.CityID" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Caste:</label>
                        <input type="text" class="form-control" name="CasteID" class="col-md-6" [(ngModel)]="userDetail.CasteID" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Are you Widow?:</label>
                        <input type="text" class="form-control" name="IsWidow" class="col-md-6" [(ngModel)]="userDetail.IsWidow" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Widow date:</label>
                        <input type="text" class="form-control" name="WidowDate" class="col-md-6" [(ngModel)]="userDetail.WidowDate" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Are you Divorced?:</label>
                        <input type="text" class="form-control" name="IsDivorced" class="col-md-6" [(ngModel)]="userDetail.IsDivorced" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Divorce Date:</label>
                        <input type="text" class="form-control" name="DivorceDate" class="col-md-6" [(ngModel)]="userDetail.DivorceDate" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Handicapped?:</label>
                        <input type="text" class="form-control" name="Handicapped" class="col-md-6" [(ngModel)]="userDetail.IsHandiCapped" required>

                    </div>

                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Handicapped detail:</label>
                        <input type="text" class="form-control" name="HandiCappDetail" class="col-md-6" [(ngModel)]="userDetail.HandiCappDetail" required>

                    </div>
                    <!-- Text input-->
                    <div class="form-group row">
                        <label class="col-md-6">Expectation:</label>
                        <input type="text" class="form-control" name="Expectation" class="col-md-6" [(ngModel)]="userDetail.Expectations" required>

                    </div>


                    <!-- Button (Double) -->
                    <div class="form-group row justify-content-md-center justify-content-center justify-content-sm-center">
                        <div class="col-md-6">
                            <button id="button1id" name="button1id" class="btn btn-success" *ngIf="id===0">Add user</button>
                            <button id="button1id" name="button1id" class="btn btn-success" *ngIf="id!==0">Edit user</button>
                            <a class="btn btn-danger" routerLink="">back</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>