<div class="col-9 px-1 " id="main" style="background: transparent">
    <div class="container overflow-hidden" style="height: 100%;">
        <div class="row gy-5" style="margin-top: 3rem;padding-bottom: 4rem;">
            <div class="col-4" *ngFor="let f of user">
                <div class="card text-center" id="cardeffect" style="width: 18rem; " (click)=" detailUser(f.UserID) ">
                    <img src="{{f.ProfilePicturePath}} " class="card-img-top " style="height:18rem; border-radius: 10px;border-bottom-left-radius: 0;border-bottom-right-radius: 0; " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">{{f.FirstName}} {{f.LastName}}</h5>
                        <span>{{f.CurrentJobTitle}}</span>
                        <hr>
                        <p class="card-text ">{{f.HeightestEducationQualification}}</p>
                        <hr>
                        <table style="text-align: center;width: 100%; ">
                            <tbody>
                                <tr id="heDa">
                                    <td>Experince</td>
                                    <td>Expectations</td>
                                </tr>
                                <tr id="coDa">
                                    <td>{{f.TotalExperience}}</td>
                                    <td>{{f.Expectations}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <a (click)="detailUser(f.UserID) ">View full profile<i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>