<div class="col-md-12" id="main" style="background: linear-gradient(238.72deg, #0044A9 0%, #F700A3 100%), radial-gradient(100% 188.01% at 76.14% 0%, #43DDFF 0%, #FF0000 100%), linear-gradient(0deg, #DB00FF 0%, #14FF00 100%), radial-gradient(59.2% 100% at 50% 100%, #6A00D5 0%, #00E0FF 100%), radial-gradient(100% 148.07% at 0% 0%, #FF9900 0%, #001AFF 100%);
background-blend-mode: hard-light, overlay, color-burn, color-burn, normal;padding: 5rem;">
    <!-- <div class="card" style="background-color: #b1aeae2d;border-radius: 10px;"> -->
    <table class="table table-hover" style="color:aliceblue;">
        <thead>
            <tr>
                <th scope="col">Drug Name</th>
                <th scope="col">Poisoning Accidental</th>
                <th scope="col">Poisoning Intentional</th>
                <th scope="col">Poisoning Assault</th>
                <th scope="col">Poisoning Undetermined</th>
                <th scope="col">Adverseeffect</th>
                <th scope="col">Underdosing</th>
                <th scope="col">DrugLevel</th>
                <th scope="col">view</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let f of medicine">
                <td>{{f.DrugName}}</td>
                <td>{{f.PoisoningAccidental}}</td>
                <td>{{f.PoisoningIntentional}}</td>
                <td>{{f.PoisoningAssault}}</td>
                <td>{{f.PoisoningUndetermined}}</td>
                <td>{{f.Adverseeffect}}</td>
                <td>{{f.Underdosing}}</td>
                <td>{{f.DrugLevel}}</td>
                <td>
                    <button class="btn-success" (click)="detailMedicine(f.DrugName)"><i class="fas fa-eye"></i></button>
                </td>
                <td>
                    <button class="btn-primary" (click)="editMedicine(f.DrugMasterID)"><i class="fas fa-pen"></i></button>
                </td>
                <td><button class="btn-danger" (click)="deleteMedicine(f.DrugMasterID)"><i class="fas fa-trash"></i></button></td>
            </tr>

        </tbody>
    </table>
    <!-- </div> -->
</div>