#main {
    color: aliceblue;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}

table>tbody>tr:hover {
    color: darkturquoise;
    background: rgba(99, 97, 97, 0.397);
}