<div class="col-9 px-1 " id="main" style="background: transparent">
    <div class="container overflow-hidden" style="height: 100%;">
        <div class="row gy-5" style="margin-top: 3rem;padding-bottom: 4rem;">
            <span style="text-align: center;color: red;font-size: medium;font-weight: 800;">It take time to load if it is cross 2 min please close the window else it can crash your browser</span>
            <div class="col-4" *ngFor="let f of medicine">
                <div class="card text-center" id="cardeffect" style="width: 18rem; " (click)=" detailMedicine(f.DrugName) ">
                    <div class="card-body ">
                        <h5 class="card-title">{{f.DrugName}}</h5>
                        <span>{{f.Adverseeffect}}</span>
                        <hr>
                        <p class="card-text ">{{f.Underdosing}}</p>
                        <hr>
                        <a (click)="detailMedicine(f.DrugName)">View on Google<i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>