:host {
    background: linear-gradient(238.72deg, #0044A9 0%, #F700A3 100%), radial-gradient(100% 188.01% at 76.14% 0%, #43DDFF 0%, #FF0000 100%), linear-gradient(0deg, #DB00FF 0%, #14FF00 100%), radial-gradient(59.2% 100% at 50% 100%, #6A00D5 0%, #00E0FF 100%), radial-gradient(100% 148.07% at 0% 0%, #FF9900 0%, #001AFF 100%);
    background-blend-mode: hard-light, overlay, color-burn, color-burn, normal;
}

.card {
    margin: auto;
    padding: 1rem;
    background-color: rgba(8, 8, 8, 0.212);
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.411);
}

span {
    font-size: small;
}

input[type=number] {
    -moz-appearance: textfield;
}

#main {
    width: 100%;
}

.card-body>a:hover {
    cursor: pointer;
    color: red;
    font-weight: 500;
}

#cardeffect {
    border-radius: 10px;
}

#cardeffect:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(247, 244, 244, 0.37);
}