<div style="color:aliceblue;background: linear-gradient(238.72deg, #0044A9 0%, #F700A3 100%), radial-gradient(100% 188.01% at 76.14% 0%, #43DDFF 0%, #FF0000 100%), linear-gradient(0deg, #DB00FF 0%, #14FF00 100%), radial-gradient(59.2% 100% at 50% 100%, #6A00D5 0%, #00E0FF 100%), radial-gradient(100% 148.07% at 0% 0%, #FF9900 0%, #001AFF 100%);
background-blend-mode: hard-light, overlay, color-burn, color-burn, normal;">
    <div class="content" role="main">

        <!-- Highlight Card -->
        <div class="card highlight-card card-small">
            <h1> Welcome</h1>
        </div>

        <!-- Resources -->
        <h3>Api-Angular Project</h3>
        <p>Choose one from below you get started:</p>

        <div class="card-container">
            <a class="card" routerLink="../faculty">
                <span>Faculty Information</span>
            </a>
            <a class="card" routerLink="../user">
                <span>Users Information</span>
            </a>

            <a class="card" routerLink="../medicine">
                <span>Medicine Information</span>
            </a>

        </div>

        <!-- Next Steps -->
        <h3>Hi, guys!</h3>
        <p>Which database you want to access?</p>

        <input type="hidden" #selection>
        <div class="card-container">
            <a class="card card-small" routerLink="../faculty/addfaculty">
                <span>Add Faculty</span>
            </a>
            <a class="card card-small" routerLink="../user/adduser">
                <span>Add Users</span>
            </a>

            <!-- <a class="card card-small" routerLink="../medicine/addmedicine">
                <span>Add Medicines</span>
            </a> -->


        </div>

        <p>Are you want to perform Edit or Delete operation?</p>
        <br>
        <p>You can do with below section.</p>
        <input type="hidden" #selection>
        <div class="card-container">
            <a class="card card-small" routerLink="../faculty/facultyDetail">
                <span>View Faculty</span>
            </a>
            <a class="card card-small" routerLink="../user/userDetail">
                <span>View Users</span>
            </a>

            <!-- <a class="card card-small bg-danger" style="color:aliceblue;" routerLink="../medicine/medicineDetail">
                <span>View Medicines(dont use)</span>
            </a> -->


        </div>

        <!-- Terminal -->
        <div class="terminal">
            <pre>Hi, This is created by Suraj Kushvaha.</pre>

        </div>

        <!-- Links -->
        <div class="card-container">
            <a class="circle-link" title="Github" href="https://github.com/surajkushvaha" target="_blank" rel="noopener">
                <i class="fab fa-github" style="font-size: xx-large;"></i>
            </a>

            <a class="circle-link" title="Facebook" href="https://facebook.com/surajkushvaha04" target="_blank" rel="noopener">
                <i class="fab fa-facebook" style="font-size: xx-large;"></i>

            </a>

            <a class="circle-link" title="Twitter" href="https://twitter.com/surajkushvaha0" target="_blank" rel="noopener">
                <i class="fab fa-twitter" style="font-size: xx-large;"></i>

            </a>

            <a class="circle-link" title="Linkedin" href="https://www.linkedin.com/in/surajkushvaha
" target="_blank" rel="noopener">
                <i class="fab fa-linkedin" style="font-size: xx-large;"></i>

            </a>
        </div>

        <!-- Footer -->
        <footer>

            <div class="github-star-badge" style="margin-bottom: 10px;color: #FF0000;">
                by @surajkushvaha
            </div>


        </footer>



    </div>
</div>